# 1. Profiling

In [1]:
import pandas as pd
# pd.set_option('display.float_format', lambda x: '%.4f' % x)
# pd.set_option('display.max_rows', None)  # None หมายถึงไม่จำกัดจำนวนแถวที่จะแสดง

In [2]:
selectedCol_list = ['int_rate','loan_status','annual_inc']

In [3]:
raw_df = pd.read_csv('LoanStats_web.csv', usecols=selectedCol_list)

In [4]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432466 entries, 0 to 1432465
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   int_rate     1432440 non-null  object
 1   annual_inc   1432440 non-null  float64
 2   loan_status  1432440 non-null  object
dtypes: float64(1), object(2)
memory usage: 32.8+ MB

In [5]:
raw_df.describe(include='all')

       int_rate    annual_inc loan_status
count   1432440  1.432440e+06     1432440
unique      258           NaN           7
top      11.49%           NaN     Current
freq      49032           NaN      702223
mean        NaN  8.103458e+04         NaN
std         NaN  1.341834e+05         NaN
min         NaN  0.000000e+00         NaN
25%         NaN  4.800000e+04         NaN
50%         NaN  6.800000e+04         NaN
75%         NaN  9.666700e+04         NaN
max         NaN  6.100000e+07         NaN

In [6]:
raw_df['int_rate'].str.rstrip('%').astype('float').describe()

count    1.432440e+06
mean     1.299533e+01
std      5.046147e+00
min      5.310000e+00
25%      9.160000e+00
50%      1.213000e+01
75%      1.577000e+01
max      3.099000e+01
Name: int_rate, dtype: float64

In [7]:
# raw_df['int_rate'].str.rstrip('%').astype('float').sort_values(ascending=False)

In [8]:
raw_df.groupby('int_rate').size()

int_rate
  5.31%     8613
  5.32%    36953
  6.00%      493
  6.07%     5019
  6.08%     2968
           ...
 30.79%     1223
 30.84%      676
 30.89%      484
 30.94%      324
 30.99%      464
Length: 258, dtype: int64

In [9]:
len(raw_df['loan_status'].value_counts())

7

In [10]:
len(raw_df['int_rate'].value_counts())

258

In [14]:
len(raw_df['annual_inc'].value_counts())

56320

In [13]:
raw_df['loan_status'].value_counts()

loan_status
Current               702223
Fully Paid            551955
Charged Off           147348
Late (31-120 days)     18752
In Grace Period         7928
Late (16-30 days)       4207
Default                   27
Name: count, dtype: int64

In [12]:
raw_df['annual_inc'].value_counts()

annual_inc
60000.00     54246
50000.00     47070
65000.00     40723
70000.00     39344
80000.00     38820
             ...
61617.00         1
85652.65         1
139525.03        1
69667.00         1
75005.00         1
Name: count, Length: 56320, dtype: int64

In [11]:
raw_df['int_rate'].value_counts()

int_rate
 11.49%    49032
 12.74%    41977
 13.49%    39202
 13.99%    39032
  5.32%    36953
           ...
 25.99%        2
 21.99%        2
 15.29%        2
 13.19%        1
 11.16%        1
Name: count, Length: 258, dtype: int64